body {
    background-color: #EFF5F5;

}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 25%;
  margin-left: 0;

}
h1{
  color: #0D4C92;
}
h2{
  color: #0D4C92;
}
h3{
  color: #0D4C92;
}
